*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

html {
  font-family: "Ubuntu", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(0.35turn, #F7FD04 20%, #F9B208 45%, #F98404 70%, #FC5404 95%);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0rem 0rem 1.5rem 0.2rem rgba(0, 0, 0, 0.5);
}
.header__logo {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  font-size: 4rem;
  border-radius: 5rem;
}
.header__tekst {
  color: #000000;
}

.collection {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 4rem;
  height: 80vh;
}
.collection__section {
  display: flex;
}
.collection__section--left, .collection__section--right {
  flex-direction: column;
  justify-content: space-between;
}

.leftul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 70%;
}
.leftul__li {
  position: relative;
  display: flex;
  width: 22rem;
  height: 20rem;
  color: #FFFFFF;
}
.leftul__li:hover {
  transform: scale(1.1);
  transition: 0.4s all;
}
.leftul__li--titel {
  position: absolute;
  bottom: 1%;
  left: 1.5%;
}
.leftul__li--datum {
  top: 1%;
  right: 1.5%;
  position: absolute;
}
.leftul__li--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.leftul__li--img:hover {
  cursor: pointer;
}

.rightul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0rem 2rem;
  width: 80%;
  height: 80%;
}
.rightul__li {
  list-style: none;
  width: 100%;
  position: relative;
}
.rightul__li--figure {
  display: flex;
  justify-content: space-between;
}
.rightul__li--titel {
  left: 1%;
  bottom: 2.5%;
  position: absolute;
  color: #FFFFFF;
}
.rightul__li--datum {
  top: 1%;
  right: 1%;
  position: absolute;
  color: #FFFFFF;
}
.rightul__li--img {
  height: 21rem;
  width: 100%;
  object-fit: cover;
}
.rightul__li--tekst {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}
.rightul__li--audio {
  border-radius: 0.7rem;
  height: 2.8rem;
}
.rightul__li--source {
  text-decoration: none;
  color: #000000;
}
.rightul__li--source:hover {
  cursor: pointer;
}

.footer {
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 2rem;
  bottom: 0;
}
.footer__h4 {
  color: #000000;
}

@media screen and (max-width: 86.25rem) {
  .leftul {
    width: 100%;
  }
  .rightul {
    width: 100%;
  }
}
@media screen and (max-width: 62.5rem) {
  .collection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .collection__section--left {
    order: 2;
    padding-top: 8rem;
  }
  .collection__section--right {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rightul {
    width: 90%;
  }
  .leftul {
    width: 70%;
    padding-bottom: 8rem;
  }
}
@media screen and (max-width: 58.75rem) {
  .leftul {
    gap: 1rem;
  }
  .collection__section--left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 46.875rem) {
  .collection {
    padding: 0;
  }
  .header {
    display: block;
  }
}
@media screen and (max-width: 41.625rem) {
  .leftul {
    width: 100%;
  }
}
@media screen and (max-width: 33.75rem) {
  .header__tekst {
    font-size: 3rem;
  }
  .rightul {
    height: 95%;
  }
  .rightul__li--figure {
    flex-direction: column;
  }
  .rightul__li--source {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 31.25rem) {
  .leftul__li {
    width: auto;
  }
  .leftul__li--titel, .leftul__li--datum {
    font-size: 1.5rem;
  }
  .footer {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 27.5rem) {
  .rightul {
    width: 90%;
  }
  .leftul__li {
    width: 16rem;
  }
}
@media screen and (max-width: 25.625rem) {
  .header__tekst {
    font-size: 2.5rem;
  }
  .footer__h4 {
    font-size: 1.4rem;
  }
}

/*# sourceMappingURL=style.css.map */
