@use "../../abstracts/colors";
@use "../../abstracts/mixins";
.header{
    @include mixins.flexCenter;
    background-color: map-get(colors.$colorPalette, "yellow-medium");
    box-shadow: 0rem 0rem 1.5rem 0.2rem rgba(0, 0, 0, 0.5);
    &__logo{
        display: flex;
        gap: 2rem;
        padding: 2rem;
        font-size: 4rem;
        border-radius: 5rem;
    }

    &__tekst{
        color: map-get(colors.$baseColors, "black");
    }
}