@use "../../abstracts/colors";
@use "../../abstracts/mixins";
.header{
    @include mixins.flexCenter;
    
    &__logo{
        display: flex;
        gap: 2rem;
        padding: 2rem;
        font-size: 4rem;
        border-radius: 5rem;
    }

    &__tekst{
        color: map-get(colors.$baseColors, "black");
    }
}